<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="root">

        <!-- v-show做条件渲染 v-show的底层逻辑是控制js的display属性 里面是布尔类型表达式 -->
        <h1 v-show="1===2">插值语法:</h1>

        <!-- v-if 效果和v-show一样 但是是在浏览器加载时候直接把此语句删除-->
        <h1 v-if="1===2">插值语法:</h1>

        <!-- 例子 -->
        <h2>当前n值{{n}}</h2>
        <button @click='n++'>点我n++</button>
        <h1 v-show="n === 1">sk</h1>
        <h1 v-show="n === 2">skk</h1>
        <h1 v-if="n === 3">skkk</h1>

        <!-- v-elseif 紧跟v-if-->
        <!-- v-if和v-elseif是一组 先判断执行v-if 如果执行就不看v-elseif了 即使他们判断条件一样 -->
        <h2>当前n值{{n}}</h2>
        <button @click='n++'>点我n++</button>
        <h1 v-if="n === 1">sk</h1>
        <h1 v-elseif="n === 1">skk</h1>

        <!-- v-else 配合if elseif-->
        <!-- v-else后面不用加条件 是前面所有if elseif都不成立的情况下就执行 -->
        <h2>当前n值{{n}}</h2>
        <button @click='n++'>点我n++</button>
        <h1 v-if="n === 1">sk</h1>
        <h1 v-elseif="n === 1">skk</h1>
        <h1 v-else>skkkkkkkk</h1>

        

    </div>

</body>
<script>
    Vue.config.productionTip = false
    new Vue({
        el:'#root',
        data:{
            name:'sk',
            n:0
            }
        
    })
</script>
</html>